/* about.css, contacts.css, delivery.css */

.page-container {
    background-color: #1c1b29;
    color: #fff;
    padding: 40px;
}

h1, h5 {
    color: #f0e130;
}

p, li {
    color: #d1d0e1;
}

.form-control, .btn-primary {
    background-color: #ffffff;
    border-color: #463f79;
    color: #fff;
}

.form-control:focus, .btn-primary:hover {
    background-color: #ffffff;
    border-color: #574d8d;
}
