.reviews-page {
    color: #fff;
}

.review-card {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.review-card:hover {
    transform: scale(1.05);
}

/* Светлый цвет для имен авторов и дат */
.review-card .card-subtitle,
.review-card .card-footer {
    color: #f5f5f5; /* Светлый цвет текста для лучшей читаемости */
    background-color: transparent;
}

.text-muted {
    color: #ffffff;
}
.card-subtitle, .card-footer {
    color: #fff; /* Белый цвет текста для подзаголовков и футеров карточек */
    background-color: transparent; /* Прозрачный фон, чтобы сохранить стиль карточки */
    font-size: 0.9rem;
}
